.App_parent 
{
  height: 100%;
  width: 100vw;
  text-align: center;
}
.fixTitle
{
  min-height: 10vh;
  min-width: 15vw;
  background-color: rgb(51, 50, 50);
}
.Title
{
  font-family: 'Chicle', cursive;
}
.body
{
  height: 80vh;
  width: 100vw;
  flex-grow: 1;
  background: url('./images/dog_field02.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.Title_parent
{
  height: 20vh;
  width: 100vw;
  background: rgb(51, 50, 50);
  display: flex;
}

.Title_parent img
{
  height: 100%;
  width: 15vw;
  border-radius: 0px 10px 10px 0px;
}

.Title
{
  margin: auto;
  /* position: relative; */
  font-size: 150px;
  text-shadow: 5px 5px 5px rgb(90, 43, 21);
}

.Center-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.DogList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button
{
  margin: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}